extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 404 Não encontrado
    
    div.container
         p A página que você tentou acessar não existe!