extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 Apresentação
            p O funcionamento do Mob Your Life foi pensado para facilitar ainda mais a sua vida! Afinal, a facilidade gera novos caminhos.
    
    div.container
        div.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
            div.embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src='https://youtube.com/v/RAU8a1BcA0M?autoplay=true')