extends layout

block content
    //- Jumbotron
    div.jumbotron
        div.container
            h1 Como Funciona
            p O funcionamento do Mob Your Life foi pensado para facilitar ainda mais a sua vida! Afinal, a facilidade gera novos caminhos.
