extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 Apresentamos:
            p A solução para você nunca mais ter seu site desatualizado!
            include call-to-action
    
    div.container
        div.row
            div.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
                div.embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://youtube.com/embed/RAU8a1BcA0M?autoplay=true')
            
        div.row.text-center
            div.col-md-12
                h2.text-center Conheça agora e mude para o novo!
                p
                    a.btn.btn-xxl.btn-jumbo(href='/login', data-role='button')
                        span Crie seu novo site agora
                        span.jump-5
                        span.fa.fa-arrow-right