extends layout

block content
    //- Jumbotron
    div.jumbotron-mob
        div.container
            h1 Dúvidas Frequentes
            p Esclareça algumas dúvidas frequentes nesta página. Caso a sua dúvida não esteja listada, contate o suporte técnico!
            p
                a.btn.btn-jumbo.btn-lg(href='/suporte-tecnico')
                    span.glyphicon.glyphicon-envelope
                    |  Suporte Técnico
    
    div.container.faq
        section
            h4 O que é o Mob Your Life?
            p O Mob Your Life é um serviço por assinatura com o objetivo de facilitar a criação de sites para os seus clientes. Ele integra com a plataforma do Facebook, permitindo que você crie um site a partir de uma fanpage que você administra no Facebook. A partir daí, todas as postagens da linha do tempo, fotos e vídeos da sua fanpage serão automaticamente copiados para o seu novo site.
        
        section
            h4 Por que ele foi feito?
            p O principal motivo que motivou a criação do Mob Your Life é a dificuldade que ainda temos, em pleno século 21, de rapidamente criar um site atraente e funcional, e além disto, atualizá-lo com frequência. O tempo é um recurso muito precioso. Com o Mob Your Life, você pode configurar o seu site em menos de 5 minutos, e continuar atualizando a sua fanpage no Facebook normalmente. O Mob Your Life se encarregará de manter o seu site atualizado, em sincronia com as suas postagens do Facebook.
        
        section
            h4 Para quem ele foi feito?
            p Para pessoas modernas e atualizadas, como você. Para pessoas que não tem perder a perder, como você.
        
        section
            h4 Como ele funciona?
            p O Facebook disponibiliza uma plataforma pela qual é possível criar serviços e aplicativos que consultam suas informações para os mais devidos fins. O Mob Your Life utiliza esta plataforma para consultar as informações das suas fanpages, nada mais.
        
        section
            h4 Isto é seguro?
            p Com certeza! Nós passamos por um processo de homologação bem complexo com o Facebook, justamente para garantir que os seus dados estão seguros e que nós estamos consultando apenas as informações que realmente precisamos. Iremos consultar apenas as informações das suas fanpages, nada mais, nada do seu perfil pessoal.
        
        section
            h4 Posso testar antes de pagar?
            p Boa, você realmente é muito esperto! E é claro que nós pensamos em você. Não queremos que você compre gato por lebre. Por isto, você tem 7 dias para testar o seu site no Mob Your Life sem pagar nenhum centavo por isto, sem se comprometer com a compra, e sem limitação alguma de recursos. Tudo o que você poderá usar como pagante está disponível no período de avaliação!
        
        section
            h4 Eu achei muito caro!
            p Pelo nosso preço você até consegue comprar um site simples. Mas, continuará tendo que atualizá-lo manualmente. O Mob Your Life mantém o seu site atualizado de acordo com a sua fanpage do Facebook, tudo isso em tempo real. Você tem garantia vitalícia do seu site contra qualquer tipo de defeito, e ainda pode contribuir com sugestões para o sistema sem ter que pagar por isto. Você pode trocar o layout, design ou esquema de cores do seu site sempre que quiser. E aí, já está convencido de que o nosso preço vale a pena?
        
        section
            h4 Vocês emitem nota fiscal?
            p Absolutamente! Somos uma empresa séria registrada em Campinas - SP, e logo após a confirmação de seu pagamento, iremos emitir uma nota fiscal de serviços eletrônica e enviar para o seu endereço de email. Você também poderá consultar a nota fiscal a qualquer momento a partir de seu histórico de pagamentos.
        
        section
            h4 Por que o primeiro ano é mais caro?
            p Por que este valor se refere à adesão do serviço (R$ 461,10) mais 12 meses de taxa de manutenção (12 x R$ 69,90).
        
        section
            h4 Por que a partir do segundo ano é mais barato?
            p Por que a partir do segundo ano você paga apenas a taxa de manutenção, aplicada para cobrir todos os custos de registro de domínio, hospedagem de imagens, banco de dados e envio de emails.
        
        section
            h4 O sistema receberá atualizações?
            p Sempre! Temos uma lista de desejos imensa para trazer mais e mais atualizações para o Mob Your Life. E você receberá todas elas sem nenhum custo adicional, durante todo o tempo em que estiver conosco!
        
        section
            h4 Quais as formas de pagamento aceitas?
            p Aceitamos pagamentos via PagSeguro, que por sua vez, permite o pagamento à vista via boleto bancário ou depósito bancário, parcelamento em até 12 vezes sem juros ou 18 vezes iguais, ou com saldo de sua conta do PagSeguro.
        
        section
            h4 Qual a minha garantia?
            p Vitalícia! Para sempre. Forever. Atendimento via email disponível em horário comercial, de segunda a sexta-feira das 08:00hs às 18:00hs. Respostas em até 24 horas úteis.
        
        section
            h4 E se após o pagamento eu decidir cancelar?
            p Respeitando o Código de Defesa do Consumidor, você tem até 7 dias após o pagamento para solicitar o cancelamento de seu site e ser ressarcido em 100% do valor pago com depósito direto em sua conta corrente.
        
        section
            h4 E se por acaso em algum belo dia nublado, o Facebook sair do ar? Ou pior, se ele decidir encerrar as suas atividades?
            p Fique tranquilo! Todas as informações que copiamos de sua fanpage do Facebook ficam armazenadas em nossos servidores, portanto, mesmo que o Facebook saia do ar ou encerre as suas atividades, o seu site permanecerá no ar sem nenhuma perda de conteúdo. Caso ocorra de os seus serviços serem encerrados, o Mob Your Life se compromete em oferecer suporte a uma nova rede social em até 30 dias após o ocorrido. A nova rede social será de nossa escolha, podendo haver votação pública antes de nossa decisão ser tomada.
        
        section
            h4 A minha dúvida não está na lista!
            p Lembra da parte do suporte pré-compra e garantia vitalícia? Agora ficou fácil demais! 
                a(href='/contato') Clique aqui
                |  e nos escreva com a sua dúvida. Iremos respondê-lo em até 24 horas úteis.