extends layout

block content
    //- Jumbotron
    div.jumbotron
        div.container
            h1 #{title}
            p Esclareça algumas dúvidas frequentes nesta página. Caso a sua dúvida não esteja listada, contate o suporte técnico!
            p
                a.btn.btn-jumbo.btn-lg(href='/suporte-tecnico')
                    span.glyphicon.glyphicon-envelope
                    |  Suporte Técnico