doctype html
html
    head
        block head
            block title
                title #{fanpage.facebook.name}
        block meta
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(name='description', content='')
            meta(name='author', content='')
        link(rel='icon', href='/favicon.ico')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/cover.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        script(src='/js/html5shiv.min.js')
        script(src='/js/respond.min.js')
body

    div.site-wrapper
        div.site-wrapper-inner
            div.cover-container
                div.masthead.clearfix
                    div.inner
                        p.text-center
                            img(src='/img/logo-big.png', alt='Mob Your Life')
                
                div.inner-cover
                    p
                        img(src='/img/oops.png', alt='Que pena!')
                    h1.cover-heading
                        | #{fanpage.facebook.name}
                    h2.cover-heading
                        | Que pena!
                    p.lead
                        | Este site está fora do ar por motivos administrativos.
                    p.lead
                        | Crie seu novo site com o Mob Your Life, venha fazer um teste gratuito!
                    p
                        a.btn.btn-primary.btn-lg(href='https://www.mobyourlife.com.br/login')
                            span Crie seu novo site com o Mob Your Life!
                
                div.mastfoot
                    div.inner
                        p Mob Your Life
                            sup &copy;
                            |  2013-2015 - Todos os direitos reservados