footer.bs-docs-footer(role='contentinfo')
    div.container
        p Mob Your Life&copy; 2014-2015 - Todos os direitos reservados

div#fb-root

script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery.activity-indicator.min.js')

block footer