footer.bs-docs-footer(role='contentinfo')
    div.container
        if !fanpage
            div.bs-docs-social
                div.fb-like-box(data-href='https://www.facebook.com/pages/MobYourLife', data-width=400, data-height=210, data-colorscheme='light', data-show-faces='true', data-header='true', data-stream='false', data-show-border='true')

            ul.bs-docs-footer-links.muted
                li
                    a(href='http://www.fmobstudio.com.br', target='_blank') F&gt;MOB STUDIO
                li &middot;
                li
                    a(href='/conheca') Conheça
                li &middot;
                li
                    a(href='/duvidas-frequentes') Dúvidas Frequentes
                li &middot;
                li
                    a(href='/termos-de-uso') Termos de Uso
                li &middot;
                li
                    a(href='/contato') Contato
        
            p Mob Your Life
                sup &copy;
                |  2013-2015 - Todos os direitos reservados
        else
            p Powered by  
                a(href='https://www.mobyourlife.com.br', target='_blank') Mob Your Life
                sup &copy;
                |  2013-2015 - Todos os direitos reservados

div#fb-root

script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/facebook.sdk.js')
script(src='/js/moment.min.js')
script(src='/js/Autolinker.min.js')
script(src='/js/jquery.activity-indicator.min.js')
if fanpage
    script(src='/js/bootstrap-tour-standalone.min.js')
    script(src='/js/tour.js?v=' + cache.version)
script(src='/js/mob.js?v=' + cache.version)

if !fanpage
    script(src='/js/ga.js')
    script(src='/js/zendesk.js')

block footer