footer.bs-docs-footer(role='contentinfo')
    div.container
        div.bs-docs-social
            div.fb-like-box(data-href='https://www.facebook.com/pages/MobYourLife', data-width=400, data-height=210, data-colorscheme='light', data-show-faces='true', data-header='true', data-stream='false', data-show-border='true')
        
        ul.bs-docs-footer-links.muted
            li
                a(href='http://www.fmobstudio.com.br', target='_blank') F&gt;MOB STUDIO
            li &middot;
            li
                a(href='/como-funciona') Como Funciona
            li &middot;
            li
                a(href='/duvidas-frequentes') Dúvidas Frequentes
            li &middot;
            li
                a(href='/termos-de-servico') Termos de Serviço
            li &middot;
            li
                a(href='/contato') Contato
        
        p Mob Your Life&copy; 2014-2015 - Todos os direitos reservados

div#fb-root

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/facebook.sdk.js')
script(src='/js/moment.min.js')
script(src='/js/mob.js')

if !fanpage
    script(src='/js/ga.js')

block footer