extends layout

block content
    - var title = 'Gerenciar álbuns';
    include user-jumbotron
    
    div.container
        if fanpage.cover && fanpage.cover.path
            h1 #{title}
        
        each item in albums
            p
                strong #{item.name}:
            p
                div.btn-group
                    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                        case item.special
                            when 'hide'
                                span.fa.fa-remove.jump-5
                                span.jump-5 Não exibir
                            when 'page'
                                span.fa.fa-star-o.jump-5
                                span.jump-5 Página exclusiva
                            when 'banner'
                                span.fa.fa-exchange.jump-5
                                span.jump-5 Banner rotativo
                            default
                                span.fa.fa-file-image-o.jump-5
                                span.jump-5 Página padrão
                        span.caret
                    ul.dropdown-menu(role='menu', data-albumid=item._id)
                        li
                            a(href='#', data-action='album-special', data-special='hide')
                                span.fa.fa-remove.jump-5
                                span Não exibir
                        li
                            a(href='#', data-action='album-special', data-special='default')
                                span.fa.fa-file-image-o.jump-5
                                span Página padrão
                        li
                            a(href='#', data-action='album-special', data-special='page')
                                span.fa.fa-star-o.jump-5
                                span Página exclusiva
                        //
                            li
                                a(href='#', data-action='album-special', data-special='banner')
                                    span.fa.fa-exchange.jump-5
                                    span Banner rotativo