extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 Gerenciamento
            p Gerencie os seus sites atuais ou crie novos sites.
    
    if fanpages.length == 0
        div.row
            div.col-sm-3.col-sm-offset-1
                img(src='/img/welcome.png', alt='Seja bem-vindo!')
            div.col-sm-7.space-right
                    h2
                        strong Seja bem-vindo!
                    p Crie agora o seu primeiro site sincronizado com o Facebook!
                    p Você pode experimentá-lo gratuitamente durante 7 dias sem compromisso!
                    p
                        a.btn.btn-success.btn-lg.space-top(href='/novo-site')
                            span.fa.fa-plus.jump-5
                            | Criar meu primeiro site
    else
        each p in fanpages
            div.container
                div.col-xs-12
                    div.well
                        div.row
                            div.col-xs-2.text-center
                                img(src=p.facebook.picture, alt=p.facebook.name)
                            div.col-xs-6
                                h4
                                    strong #{p.facebook.name}
                            div.col-xs-4.space-vertical.space-right
                                div.row
                                    a.btn.btn-info.pull-right(href='http://' + p._id + '.mobyourlife.com.br', target='_blank')
                                        span.fa.fa-external-link.jump-5
                                        | Visualizar site

        div.container
            div.col-xs-12
                a.btn.btn-success.btn-lg.pull-right(href='/novo-site')
                    span.fa.fa-plus.jump-5
                    span Criar um novo site