extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 Bem-vindo à facilidade!
            p Diferente e único: o Mob Your Life cria e atualiza seu novo site automaticamente através de seu Facebook!
            include call-to-action
    
    //- Caixas de apresentação
    div.container
        div.row
            div.col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-0
                div.box
                    div.icon
                        div.image
                            i.fa.fa-thumbs-o-up
                        div.info
                            h3.title O que é?
                            p O Mob Your Life é um serviço que cria e atualiza automaticamente seu novo site usando sua fanpage do Facebook.
                            
            div.col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-0
                div.box
                    div.icon
                        div.image
                            i.fa.fa-flag
                        div.info
                            h3.title Por que?
                            p Você verá que nunca foi tão fácil atualizar seu novo site. Atualize seu Facebook e pronto, em instantes seu site será atualizado.
                            
            div.col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-0
                div.box
                    div.icon
                        div.image
                            i.fa.fa-desktop
                        div.info
                            h3.title Como?
                            p Clique no botão abaixo, faça login com o seu Facebook, e selecione uma de suas fanpages! Seu novo site estará pronto!
        
        div.row.text-center
            div.col-md-12
                hr
                p
                    if pageCount == 0
                        a.btn.btn-xxl.btn-jumbo(href='/login', data-role='button')
                            span Crie seu novo site agora
                            span.jump-5
                            span.fa.fa-arrow-right
                    else
                        a.btn.btn-xxl.btn-jumbo(href='/novo-site', data-role='button')
                            span Crie mais um site agora
                            span.jump-5
                            span.fa.fa-plus