extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 Bem-vindo à facilidade!
            p O Mob Your Life chegou para revolucionar a maneira que você atualiza o seu site. Crie o seu site em instantes e deixe que ele seja atualizado automaticamente através do seu Facebook!
            p
                a.btn.btn-xl.btn-jumbo(href='/login', data-role='button')
                    span Crie seu novo site agora
                    span.jump-5
                    span.fa.fa-arrow-right
    
    //- Caixas de apresentação
    div.container
        div.row
            div.col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-0
                div.box
                    div.icon
                        div.image
                            i.fa.fa-thumbs-o-up
                        div.info
                            h3.title O que é?
                            p O Mob Your Life é um serviço que cria um site de forma automática para você ou para a sua empresa, sincronizando todo o conteúdo com o seu perfil ou página do Facebook.
                            
            div.col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-0
                div.box
                    div.icon
                        div.image
                            i.fa.fa-flag
                        div.info
                            h3.title Por que?
                            p O Mob Your Life quer facilitar ainda mais a criação de seu site pessoal ou profissional! Crie-o em instantes e não se preocupe em atualizá-lo. Atualize o seu Facebook em vez disto.
                            
            div.col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-0
                div.box
                    div.icon
                        div.image
                            i.fa.fa-desktop
                        div.info
                            h3.title Como?
                            p O Mob Your Life cria uma página totalmente integrada com o seu perfil do Facebook e sincroniza todas as informações desejadas, tais como postagens, fotos e vídeos.
        
        div.row.text-center
            div.col-md-12
                hr
                p
                    a.btn.btn-xxl.btn-jumbo(href='/login', data-role='button')
                        span Crie seu novo site agora
                        span.jump-5
                        span.fa.fa-arrow-right