extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 Bem-vindo à facilidade!
            p O Mob Your Life chegou para revolucionar a maneira que você atualiza o seu site. Crie o seu site em instantes e deixe que ele seja atualizado automaticamente através do seu Facebook!
            p
                a.btn.btn-jumbo.btn-lg(href='#', data-role='button') Saiba mais &raquo;
    
    //- Caixas de apresentação
    div.container
        div.row
            div.col-xs-12.col-sm-6.col-lg-4
                div.box
                    div.icon
                        div.image
                            i.fa.fa-thumbs-o-up
                        div.info
                            h3.title O que é?
                            p O Mob Your Life é um serviço que cria um site de forma automática para você ou para a sua empresa, sincronizando todo o conteúdo com o seu perfil ou página do Facebook.
                            p
                                a.btn.btn-jumbo(href='#', data-role='button') Saiba mais &raquo;
                            
            div.col-xs-12.col-sm-6.col-lg-4
                div.box
                    div.icon
                        div.image
                            i.fa.fa-flag
                        div.info
                            h3.title Por que?
                            p O Mob Your Life quer facilitar ainda mais a criação de seu site pessoal ou profissional! Crie-o em instantes e não se preocupe em atualizá-lo. Atualize o seu Facebook em vez disto.
                            p
                                a.btn.btn-jumbo(href='#', data-role='button') Saiba mais &raquo;
                            
            div.col-xs-12.col-sm-6.col-lg-4
                div.box
                    div.icon
                        div.image
                            i.fa.fa-desktop
                        div.info
                            h3.title Como?
                            p O Mob Your Life cria uma página totalmente integrada com o seu perfil do Facebook e sincroniza todas as informações desejadas, tais como postagens, fotos e vídeos.
                            p
                                a.btn.btn-jumbo(href='#', data-role='button') Saiba mais &raquo;