doctype html
html
    head
        block head
            block title
                if fanpage
                    title #{fanpage.facebook.name}
                else
                    title Mob Your Life
        block meta
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(name='description', content='')
            meta(name='author', content='')
        link(rel='icon', href='/favicon.ico')
        link(rel='stylesheet', href='/css/bootstrap.min.css', id='mob-theme')
        link(rel='stylesheet', href='/css/docs.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/custom.css')
        link(rel='stylesheet', href='/css/timeline.css')
        script(src='/js/html5shiv.min.js')
        script(src='/js/respond.min.js')
body

    include header

    block content

    include footer