extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 Site criado com sucesso!
            p Parabéns por seu novo site sincronizado com o Facebook!
    
    div.container
        div.col-xs-12
            div.well
                div.row
                    div.col-xs-2.text-center
                        img(src=newFanpage.facebook.picture, alt=newFanpage.facebook.name)
                    div.col-xs-6
                        h4
                            strong #{newFanpage.facebook.name}
                    div.col-xs-4.space-vertical.space-right
                        div.row
                            a.btn.btn-success.pull-right(href='http://' + newFanpage._id + '.mobyourlife.com.br', target='_blank')
                                span.fa.fa-external-link.jump-5
                                | Visualizar site
    
    div.container
        div.col-xs-12
            a.btn.btn-info.btn-lg.pull-right(href='/gerenciamento')
                | Voltar para o gerenciamento