extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 #{title}
            p Escolha uma de suas páginas para criar um site sincronizado com o Facebook.
    
    if pages.length == 0
        div.row
            div.col-sm-3.col-sm-offset-1
                img(src='/img/none.png', alt='Nenhuma fanpage disponível!')
            div.col-sm-7.space-right
                    h2
                        strong Não há nenhuma fanpage disponível!
                    p Talvez você já tenha criado sites para todas as suas fanpages, ou não tem permissão na fanpage desejada.
                    p
                        a.btn.btn-info.btn-lg.space-top(href='/gerenciamento')
                            | Voltar para o gerenciamento
    else
        each p in pages
            div.container
                div.col-xs-12
                    div.well
                        div.row
                            div.col-xs-2.text-center
                                img(src=p.picture, alt=p.name)
                            div.col-xs-6
                                h4
                                    strong #{p.name}
                            div.col-xs-4.space-vertical.space-right
                                div.row
                                    a.btn.btn-success.pull-right(href='/novo-site/' + p.id)
                                        span.fa.fa-external-link.jump-5
                                        | Criar novo site
        div.container
            div.col-xs-12
                a.btn.btn-default.btn-lg.pull-right(href='/gerenciamento')
                    | Cancelar