extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 #{title}
            p Escolha uma de suas fanpages para criar o seu novo site.
    
    div.container#main
        div.container
            div.col-xs-12
                div.alert.alert-warning
                    p
                        span.fa.fa-warning.jump-5
                        strong Atenção: 
                        span Ao utilizar os serviços do Mob Your Life você concorda com os 
                            a(href='/termos-de-uso') termos de uso
                            | .
        
        if pages.length == 0
            div.row
                div.col-sm-3.col-sm-offset-1
                    p.text-center
                        img.hidden-sm(src='/img/none.png', alt='Nenhuma fanpage disponível!')
                        img.visible-sm(src='/img/none-sm.png', alt='Nenhuma fanpage disponível!')
                div.col-sm-7.space-right
                        h2
                            strong Não há nenhuma fanpage disponível!
                        if user.fanpages && user.fanpages.length != 0
                            p Você já criou sites para todas as suas fanpages! Mas você pode criar uma nova fanpage se desejar.
                        else
                            p Você não tem nenhuma fanpage! Que tal criar uma agora?
                        p
                            a.btn.btn-primary.btn-lg.space-top(href='https://www.facebook.com/pages/create/?ref_type=bookmark', target='_blank')
                                span.fa.fa-facebook.jump-5
                                span Criar nova fanpage
                            br
                            a.btn.btn-default.btn.space-top(href='/gerenciamento')
                                | Voltar para o gerenciamento
        else
            each p in pages
                div.container
                    div.col-xs-12
                        div.well
                            div.row
                                div.hidden-xs.col-sm-2.text-center
                                    img(src=p.picture, alt=p.name)
                                div.col-xs-12.col-sm-6
                                    h4
                                        strong #{p.name}
                                    p.visible-xs
                                        a.btn.btn-success(href='/novo-site/' + p.id)
                                            span.fa.fa-external-link.jump-5
                                            | Criar novo site
                                div.hidden-xs.col-sm-4.space-vertical.space-right
                                    div.row
                                        a.btn.btn-success.pull-right(href='/novo-site/' + p.id, onclick="$('#main').empty().html('<p style=\"margin-bottom: 80px;\">&nbsp;</p><h2 class=\"text-center\">Por favor aguarde...</h2>').activity();")
                                            span.fa.fa-external-link.jump-5
                                            | Criar novo site
            div.container
                div.col-xs-12
                    a.btn.btn-default.btn-lg.pull-right(href='/gerenciamento')
                        | Cancelar