extends layout

block content
    //- Jumbotron
    div.jumbotron
        div.container
            h1 #{title}
            p Gerencie os seus sites.
    
    div.container
        div.col-sm-10.col-sm-offset-1
            div.well
                div.row
                    div.col-sm-6
                        h4
                            strong Mob Your Life
                        p Descrição da fan page.
                    div.col-sm-6.space-vertical.space-right
                        div.row
                            a.btn.btn-info.pull-right
                                span.fa.fa-external-link.jump-5
                                | Acessar Site
                        div.row
                            a.btn.btn-default.pull-right
                                span.fa.fa-facebook.jump-5
                                | Acessar Fanpage
        
        div.col-sm-10.col-sm-offset-1
            div.well
                div.row
                    div.col-sm-6
                        h4
                            strong Mob Your Life
                        p Descrição da fan page.
                    div.col-sm-6.space-vertical.space-right
                        div.row
                            a.btn.btn-info.pull-right
                                span.fa.fa-external-link.jump-5
                                | Acessar site
                        div.row
                            a.btn.btn-default.pull-right
                                span.fa.fa-facebook.jump-5
                                | Acessar fanpage
        
        div.col-sm-10.col-sm-offset-1
            div.row
                div.col-sm-12.space-right
                    a.btn.btn-success.btn-lg.pull-right
                        span.fa.fa-plus.jump-5
                        | Criar um novo site
        
        div.col-sm-10.col-sm-offset-1
            div.row
                div.col-sm-12.space-right
                    h4
                        strong Oops!
                    p Você ainda não tem nenhum site sincronizado com o Facebook!
                    p Que tal criar o seu primeiro agora? Experimente durante 7 dias sem compromisso!
        
        div.col-sm-10.col-sm-offset-1
            div.row
                div.col-sm-12.space-right
                    a.btn.btn-success.btn-lg.pull-right
                        span.fa.fa-plus.jump-5
                        | Criar meu primeiro site