extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 Preços
            p Surpreenda-se com a relação custo/benefício do Mob Your Life! Além de economizar toda aquela mão de obra para manter o seu site atualizado, é claro. Porque tempo também é dinheiro!

    div.container
        div.row
            div.col-md-4
                div.panel.panel-warning
                    div.panel-heading
                        h4.text-center
                            | AVALIAÇÃO
                    div.panel-body.text-center
                        p.lead
                            strong
                                | 7 dias grátis
                        p
                            | sem nenhuma restrição de uso!
                    ul.list-group.list-group-flush
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Integração total com Facebook
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Atualização automática do site
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Teste quantos sites quiser
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Suporte de dúvidas pré-compra
                    div.panel-footer
                        a.btn.btn-lg.btn-block.btn-warning(href='/gerenciamento')
                            | TESTE AGORA!
                            
            div.col-md-4
                div.panel.panel-info
                    div.panel-heading
                        h4.text-center
                            | 1º ANO
                    div.panel-body.text-center
                        p.lead
                            strong
                                | R$ #{price} / ano
                        p
                            | em até 12x sem juros!
                    ul.list-group.list-group-flush
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Integração total com Facebook
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Atualização automática do site
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Preço válido para 1 site
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Suporte disponível em horário comercial
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Garantia vitalícia
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Atualizações gratuitas
                    div.panel-footer
                        a.btn.btn-lg.btn-block.btn-info(href='/gerenciamento')
                            | ASSINE AGORA!
                            
            div.col-md-4
                div.panel.panel-success
                    div.panel-heading
                        h4.text-center
                            | DEMAIS ANOS
                    div.panel-body.text-center
                        p.lead
                            strong
                                | R$ 69,90 / mês
                        p
                            | apenas a partir do 2º ano de uso!
                    ul.list-group.list-group-flush
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Integração total com Facebook
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Atualização automática do site
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Preço válido para 1 site
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Suporte disponível em horário comercial
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Garantia vitalícia
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            | Atualizações gratuitas
                    div.panel-footer
                        a.btn.btn-lg.btn-block.btn-success(href='/gerenciamento')
                            | ASSINE AGORA!