extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 Preços
            p Valorize o seu dinheiro adquirindo um site de qualidade!
            p
                a.btn.btn-xl.btn-jumbo(href='/login', data-role='button')
                    span Crie seu novo site agora
                    span.jump-5
                    span.fa.fa-arrow-right

    div.container
        div.row
            div.col-xs-12.col-md-4
                div.panel.panel-warning
                    div.panel-heading
                        h4.text-center
                            span AVALIAÇÃO
                    div.panel-body.text-center
                        p.lead
                            strong
                                span 7 dias grátis
                        p
                            span sem nenhuma restrição de uso!
                    ul.list-group.list-group-flush
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Hospedagem incluída!
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Subdomínio de teste
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Integração total com Facebook
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Atualizações automáticas via Facebook
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Teste quantos sites quiser
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Suporte de dúvidas pré-compra
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Sem restrições no período de teste
                    div.panel-footer
                        a.btn.btn-lg.btn-block.btn-warning(href='/login')
                            span TESTE AGORA!
            
            div.col-xs-12.col-md-4
                div.panel.panel-primary
                    div.panel-heading
                        h4.text-center
                            span 1º ANO
                    div.panel-body.text-center
                        p.lead
                            strong
                                span R$ #{monthly} / mês
                                    sup *
                        p
                            span *plano anual em 12 vezes sem juros
                    ul.list-group.list-group-flush
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Hospedagem incluída!
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Domínio próprio incluído!
                                sup **
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Integração total com Facebook
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Atualizações automáticas via Facebook
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Preço válido para 1 site
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Suporte disponível em horário comercial
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Garantia vitalícia
                    div.panel-footer
                        a.btn.btn-lg.btn-block.btn-primary(href='/login')
                            span COMPRE AGORA!
            
            div.col-xs-12.col-md-4
                div.panel.panel-success
                    div.panel-heading
                        h4.text-center
                            span 2º ANO EM DIANTE
                    div.panel-body.text-center
                        p.lead
                            strong
                                span R$ #{maint_fees} / mês
                        p
                            span apenas a partir do 2º ano de uso!
                    ul.list-group.list-group-flush
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Hospedagem incluída!
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Domínio próprio incluído!
                                sup **
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Integração total com Facebook
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Atualizações automáticas via Facebook
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Preço válido para 1 site
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Suporte disponível em horário comercial
                        li.list-group-item
                            i.glyphicon.glyphicon-ok.jump-5
                            span Garantia vitalícia
                    div.panel-footer
                        a.btn.btn-lg.btn-block.btn-success(href='/login')
                            span RENOVE AGORA!
    
    div.container
        div.row
            div.col-md-12
                hr
                p
                    strong Observações:
                p * O valor de R$ #{monthly} por mês se refere ao plano anual no valor total de R$ #{price} parcelado em 12 vezes sem juros.
                p ** Domínio próprio incluído para as extensões: .com.br, .com, .net e .org. Consulte-nos para outras opções.