extends layout

block content
    //- Jumbotron
    div.jumbotron
        div.container
            h1 #{title}
            p Registre-se para criar o seu site sincronizado com o Facebook!
            
    div.container
        div.col-sm-6.col-sm-offset-3
            div.row
                form(action='/registrar', method='post')
                    div.form-group
                        label Email
                        input.form-control(name='email', type='text')
                    div.form-group
                        label Senha
                        input.form-control(name='password', type='password')
                    div.pull-right
                        button.btn.btn-primary.btn-lg(type='submit') Registrar
            hr
            div.row
                p.pull-right Já é registrado? 
                    a(href='/entrar') Clique aqui
                    |  para entrar!