doctype html
html
    head
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        if fanpage && fanpage.theme
            link(rel='stylesheet', href=fanpage.theme.css, id='mob-theme')
            link(rel='stylesheet', href=fanpage.theme.custom, id='mob-theme')
        script(src='/js/facebook.sdk.js')
        script.
            function fbshare(link) {
                FB.ui({
                    method: 'share',
                    href: link,
                }, function(response){});
            }
body.timeline-footer-bg

    div.pull-right
        a.btn.btn-primary.btn-sm(href='#', onclick='fbshare("' + link + '"); return false;', style='margin-right: 10px;')
            i.fa.fa-share(style='margin-right: 5px;')
            span Compartilhar
        a.btn.btn-info.btn-sm(href=link, target='_blank')
            i.fa.fa-external-link(style='margin-right: 5px;')
            span Mais detalhes