extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 Termos de Uso
            p
                a.btn.btn-xl.btn-jumbo(href='/login', data-role='button')
                    span Crie seu novo site agora
                    span.jump-5
                    span.fa.fa-arrow-right
    
    div.container
        div.alert.alert-warning
            p
                span.fa.fa-warning.jump-5
                strong Atenção: 
                span Ao utilizar os serviços do Mob Your Life você concorda com os seguintes termos abaixo descritos. Leia-os cuidadosamente antes de utilizar os nossos serviços.
        div.row.tos
            p Os seguintes termos e condições se aplicam ao uso de todo o website do Mob Your Life ("o site", "a plataforma") e aos sites criados através dos serviços prestados através desta plataforma.
            p Por favor leia estes termos cuidadosamente antes de acessar ou utilizar este site e os serviços prestados através dele. Ao acessar ou utilizar qualquer parte deste site ou os serviços prestados através dele, você concorda com os termos de uso aqui descritos. Se você não concordar com algum destes termos, você não poderá utilizar este site ou os nossos serviços.
            
            ol
                li Definições
                    ol
                        li FMOB DESENVOLVIMENTO DE SISTEMAS LTDA - ME, com sede na cidade de Campinas, Estado de São Paulo, na Rua Luiz Dalincourt, nº 325, CEP 13.026-040, inscrita no CNPJ/MF sob o nº 20.596.363/0001/-49, doravante denominada F&gt;MOB STUDIO: É a empresa responsável pelo desenvolvimento e manutenção do MOB YOUR LIFE.
                        li MOB YOUR LIFE ("o site", "a plataforma"): É uma plataforma que viabiliza a criação simplificada de sítios eletrônicos na internet através de informações de sua conta do Facebook.
                        li USUÁRIO: É a pessoa física ou jurídica usuária da plataforma FACEBOOK, adquirente de serviços da plataforma do MOB YOUR LIFE através de seu sítio eletrônico em 
                            a(href='https://www.mobyourlife.com.br', target='_blank') https://www.mobyourlife.com.br
                            | .
                        li SITE: É o produto gerado pela plataforma MOB YOUR LIFE. Todo o conteúdo disponível no site é retirado da página do USUÁRIO através da plataforma do FACEBOOK.
                        li FACEBOOK: É a plataforma web para redes sociais disponível em 
                            a(href='https://www.facebook.com', target='_blank') https://www.facebook.com
                            | , que é utilizada pela plataforma MOB YOUR LIFE. O MOB YOUR LIFE não possui outra relação com o FACEBOOK que não seja a utilização de sua plataforma aberta.
                        li MEIO DE PAGAMENTO: É o fornecedor de processamento do pagamento dos serviços contratatos do MOB YOUR LIFE.
                li Pré-requisitos
                    ol
                        li Os serviços do MOB YOUR LIFE destinam-se a USUÁRIOS da rede social FACEBOOK, sendo possível se tornar usuário do FACEBOOK exclusivamente para uso desta plataforma.
                        li O USUÁRIO necessita de uma página ou fanpage criada no FACEBOOK para que seja possível a criação de um SITE através da plataforma MOB YOUR LIFE.
                li Da utilização dos serviços
                    ol
                        li O USUÁRIO deverá cadastrar-se no MOB YOUR LIFE pelo sítio 
                            a(href='https://www.mobyourlife.com.br', target='_blank') https://www.mobyourlife.com.br
                            |  usando a sua conta do FACEBOOK.
                        li Após o cadastro, o USUÁRIO poderá criar quantos sites desejar, estando ciente de cada site é um produto diferente, sendo portanto, pago individualmente.
                        li Após a criação de um novo site, o USUÁRIO terá direito a experimentar a plataforma durante sete dias corridos. Após este prazo, o SITE do USUÁRIO será desativado, sendo ativado somente mediante a compra do serviço.
                        li A compra do serviço permitirá a ativação do SITE do USUÁRIO durante um determinado período. Após este período, o serviço deve ser renovado mediante uma nova compra.
                        li Ao permanecer sete dias corridos sem efetuação do pagamento dos serviços, o SITE do USUÁRIO será desativado, sendo novamente ativado somente mediante a confirmação do pagamento.
                        li Após trinta dias da desativação do SITE do USUÁRIO, todas as informações do SITE serão permanentemente excluída dos servidores do MOB YOUR LIFE. O USUÁRIO poderá a qualquer momento criar o site novamente, mediante compra dos serviços, e então as informações do SITE serão novamente copiadas do página do USUÁRIO através da plataforma do FACEBOOK.
                li Do meio de pagamento
                    ol
                        li Atualmente, o MEIO DE PAGAMENTO validado para o processamento dos pagamentos das compras de serviços do MOB YOUR LIFE é do UNIVERSO ONLINE S/A, com sede na cidade de São Paulo, Estado de São Paulo, na Avenida Brigadeiro Faria Lima, nº 1384, 6º andar, CEP 01452-002, inscrita no CNPJ/MF sob o nº 01.109.184/0001-95, doravante denominada simplesmente “PAGSEGURO”.
                        li O MOB YOUR LIFE não se responsabiliza pelos termos e condições exigidos pelo MEIO DE PAGAMENTO, sendo responsabilidade do USUÁRIO a observância e atendimento dos mesmos.
                li Abrangência, vigência e foro
                    ol
                        li Atualmente, os serviços do MOB YOUR LIFE estão disponíveis apenas para o território brasileiro.
                        li Os serviços serão prestados por tempo indeterminado, desde que atendidas todas as condições deste termo além das outras políticas de uso do MOB YOUR LIFE, do FACEBOOK e do MEIO DE PAGAMENTO.
                        li  A prestação de serviços poderá ser encerrada a qualquer tempo, por solicitação de qualquer das partes, atendendo ao disposto neste termo quanto as comunicações, ficando resguardado o direito do MOB YOUR LIFE ao recebimento de valores correspondentes a serviços já prestados.
                        li Fica eleito o foro da comarca de Campinas - SP para dirimir quaisquer questões relativas às obrigações assumidas por este termo.
                li Disposições gerais
                    ol
                        li As comunicações entre o USUÁRIO e o MOB YOUR LIFE deverão ser feitas através do sítio da internet em 
                            a(href='https://www.mobyourlife.com.br/contato', target='_blank') https://www.mobyourlife.com.br/contato
                            | .
                        li Em caso de descumprimento das disposições deste termo, o MOB YOUR LIFE poderá suspender os serviços ou até mesmo cancelar definitivamente o cadastro do USUÁRIO, sem aviso prévio ou qualquer direito a indenização.
                        li O MOB YOUR LIFE não garante os níveis de serviço, podendo o sistema apresentar instabilidades ou ficar temporariamente indisponível, por sua culpa ou de terceiros, sendo que a ocorrência de tal fato não dá qualquer direito a indenização a USUÁRIOS, MEIO DE PAGAMENTO ou terceiros.
                        li A aceitação destes termos e a utilização dos sistemas e ferramentas do MOB YOUR LIFE não implica em transferência de direitos de qualquer natureza sobre o software, hardware ou outros recursos que o MOB YOUR LIFE utilize na prestação dos serviços.
                        li O MOB YOUR LIFE protegerá os dados pessoais do vendedor e os dados das transações, sem contudo garantir que os mesmos serão imunes a ataques de terceiros que violem as medidas de segurança aplicadas, não sendo o MOB YOUR LIFE responsável por eventuais prejuízos decorrentes de tais acessos.
                        li Quanto a seus dados pessoais e outros relacionados à utilização dos sistemas, o USUÁRIO concorda que o MOB YOUR LIFE poderá compartilhá-los com o MEIO DE PAGAMENTO e/ou outros, sem a necessidade de autorização prévia, bem como deverá entregá-los à autoridade publica que as requisitar.
                        li O USUÁRIO não poderá acessar os sistemas e bancos de dados do MOB YOUR LIFE por outros meios que não os disponibilizados nas ferramentas, abstendo-se de utilizar qualquer equipamento ou software na tentativa de fazê-lo, de interferir em sua operação ou de usá-lo para finalidades diversas das aqui previstas. Quaisquer acessos não autorizados, efetivos ou tentados, caracterizam o descumprimento destes termos, ficando resguardados os direitos do MOB YOUR LIFE em buscar a reparação das perdas e danos que possa sofrer.
                        li O USUÁRIO deverá tomar todas as medidas a seu alcance para impedir o acesso não autorizado ao sistema do MOB YOUR LIFE, protegendo adequadamente seu nome de usuário e senha, mantendo seus sistemas informáticos e dispositivos livres de vírus, worms, malwares ou outros que possam comprometer a segurança das transações eletrônicas entre seus sistemas e os do MOB YOUR LIFE.
                        li O USUÁRIO é o responsável por todos os atos praticados nos e/ou através dos sistemas do MOB YOUR LIFE com a utilização de seus dados de acesso.
                        li O USUÁRIO não poderá usar o nome MOB YOUR LIFE ou outros assemelhados, bem como não poderá, de qualquer forma, comprometer a imagem do MOB YOUR LIFE e/ou das empresas relacionadas aos serviços aqui descritos.
                        li O MOB YOUR LIFE poderá modificar as condições destes termos de uso, sendo que a nova versão passará a vigorar 5 (cinco) dias após a comunicação ao USUÁRIO de seu novo conteúdo. Em caso de não concordância por parte do USUÁRIO, o mesmo deverá comunicar tal decisão para que seja feito o cancelamento de seu cadastro. Sua não manifestação neste prazo implicará na concordância com a nova versão.
        
        hr
        p Termos de uso atualizados em 17 de março de 2015, vigorando a partir de 22 de março de 2015.
        
                //
                    li Da assinatura dos planos pagos