div.modal.fade#modal-dialog
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Fechar')
                    span(aria-hidden=true)
                        | &times;
                h4.modal-title
            
            div.modal-body
            
            div.modal-footer
                button.btn.btn-default(data-dismiss='modal')
                    | Fechar
                button.btn.btn-primary
                    | Salvar