extends layout

block content
    //- Jumbotron
    if fanpage.facebook.about
        div.jumbotron
            div.container
                p #{fanpage.facebook.about}
    
    div.container.feeds
        ul.timeline