//- Jumbotron
if fanpage.cover && fanpage.cover.path
    div.jumbotron(style='background-image: url("/uploads/' + fanpage.cover.path + '"); height: ' + fanpage.cover.height + 'px;')
else
    div.jumbotron
        if title
            div.container
                h1 #{title}
        else if fanpage.facebook.about
            div.container
                h2 #{fanpage.facebook.about}
        else if fanpage.facebook.description
            div.container
                h2 #{fanpage.facebook.description}