extends layout

block content
    //- Jumbotron
    div.jumbotron
        div.container
            h1 Bem-vindo ao seu site!
            p #{fanpage.facebook.about}
            p
                a.btn.btn-jumbo.btn-lg(href='#', data-role='button') Saiba mais &raquo;
    
    div.container.feeds