extends layout

block content
    - var title = 'Páginas estáticas';
    include user-jumbotron
    
    div.container
        div.row
            if textpages.length == 0
                h4 Nenhuma página estática existente!
                p Clique no botão abaixo para criar uma nova.
            else
                h4 Modifique uma página existente:
                ul
                    each p in textpages
                        li
                            a(href='/paginas-estaticas/editar/' + p._id)
                                | #{p.title}
                hr
            p
                a.btn.btn-primary(href='/paginas-estaticas/nova')
                    i.fa.fa-plus.jump-5
                    span Criar nova página