extends none

block content
    div.form-horizontal
        div.form-group
            div.col-sm-3
                label(for='dominio', control-label)
                    | Domínio
            div.col-sm-9.label-dominio
                        
        div.form-group
            div.col-sm-3
                label(for='dominio', control-label)
                    | Servidores DNS
            div.col-sm-9
                ul
                    li ns1.mobyourlife.com.br
                    li ns2.mobyourlife.com.br