//- Jumbotron
if fanpage.facebook.about
    div.jumbotron(style=fanpage.cover ? 'background-image: url("/uploads/' + fanpage.cover.path + '"); height: ' + fanpage.cover.height + 'px;' : '')
        if title
            div.container
                h1 #{title}
        else if !fanpage.cover || fanpage.cover == 'null'
            div.container
                h2 #{fanpage.facebook.about}