extends layout

block content
    - var title = 'P치ginas est치ticas';
    include user-jumbotron
    
    div.container
        div.row
            if textpages.length != 0
                h4 Modifique uma p치gina existente:
                ul
                    each p in textpages
                        li
                            a(href='/paginas-estaticas/editar/' + p._id)
                                | #{p.title}
                hr
            p
                a.btn.btn-primary(href='/paginas-estaticas/nova')
                    i.fa.fa-plus.jump-5
                    span Criar nova p치gina