extends layout

block content
    //- Jumbotron
    div.jumbotron
        div.container
            h1 Bem-vindo ao seu site!
            p O Mob Your Life chegou para revolucionar a maneira que você atualiza o seu site. Crie o seu site em instantes e deixe que ele seja atualizado automaticamente através do seu Facebook!
            p
                a.btn.btn-jumbo.btn-lg(href='#', data-role='button') Saiba mais &raquo;