extends none

block content
    div.form-horizontal
        div.form-group
            div.col-sm-3
                label(for='dominio', control-label)
                    | Vigência
            div.col-sm-9.label-dominio
                | #{moment(pagamento.vigencia.inicio).format('DD/MM/YYYY')} a #{moment(pagamento.vigencia.fim).format('DD/MM/YYYY')}
                        
        div.form-group
            div.col-sm-3
                label(for='dominio', control-label)
                    | Valor
            div.col-sm-9
                | R$ #{numeral(pagamento.preco).format('0.00').toString().replace('.', ',')}
                        
        div.form-group
            div.col-sm-3
                label(for='dominio', control-label)
                    | Formas de pagamento
            div.col-sm-9
                ul
                    li Cartão de crédito em até 12 vezes sem juros
                    li Boleto bancário
                    li Débito online
                    li Depósito bancário
        
        div.form-group
            div.col-sm-12
                | Ao clicar em &quot;Pagar&quot; você será redirecionado ao site do PagSeguro para realizar o pagamento. O seu site será liberado em até 24 horas após a confirmação do pagamento.