extends layout

block content
    include user-jumbotron
    
    div.container.feeds
        div.page-empty.text-center
            div.isowner
                p
                    img(src='/img/sad.png', alt='Ah não!')
                h2 Nenhuma publicação!
                p Este site está tão triste sem nenhuma publicação! Que tal fazer a sua primeira agora?
                p
                    a.btn.btn-primary.btn-lg(href='https://www.facebook.com/' + fanpage.id, target='_blank')
                        span.fa.fa-facebook.jump-5
                        span Publique com o Facebook
            div.isnotowner
                p
                    img(src='/img/happy.png', alt='Olá!')
                h2 Seja bem-vindo!
                p Parece que este site é novo e ainda não tem nenhuma publicação. Volte mais tarde para conferir as novidades!
                p
                    a.btn.btn-primary.btn-lg(href='https://www.facebook.com/' + fanpage.id, target='_blank')
                        span.fa.fa-facebook.jump-5
                        span Curta-nos no Facebook
        ul.page-rows.timeline
            li.clearfix(style='float:none')