/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-y: scroll;
}

.navbar-mob {
    background-color: #fff;
    border-color: #e7e7e7;
    
    ul.navbar-nav {
        & > li {
            & > a {
                color: #337ab7;
            }
            
            &:hover {
                background-color: #4fc1f1;
                color: #fff;
                
                & > a {
                    color: #fff;
                }
            }
        }
    }
}

.loggedin, .isowner {
    display: none;
}

.loggedout {
    display: inline;
}

.navbar-brand {
    margin-top: -6px;

    & img.icon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    & > span {
        float: left;
        line-height: 32px;
        vertical-align: middle;
    }
}

.jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.adjustable {
    width: 100%;
    text-align: center;
    
    a {
        text-decoration: none;
        cursor: pointer;
    }
}

.jumbotron-mob {
    background-color: #009fe3;
    background-image: url(../img/jumbg.jpg);
    background-size: contain !important;
    background-repeat: repeat !important;
    color: #fff;
}

.btn-xl, .btn-group-xl > .btn {
    padding: 10px 16px;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 6px;
}

.btn-xxl, .btn-group-xxl > .btn {
    padding: 10px 16px;
    font-size: 1.8em;
    line-height: 1.6;
    border-radius: 6px;
}

.btn-jumbo {
    background-color: #fff;
    border-color: #3071a9;
    color: #000;
}
.btn-jumbo:hover {
    background-color: #f58634;
    border-color: #f1b88f;
    color: #fff;
}

.jump-5 {
	margin-right: 10px;
}

.space-vertical > .row {
    margin-bottom: 5px;
}

.space-right {
    padding-right: 2em;
}

.space-top {
    margin-top: 2em;
}

/* Boxes da página inicial */

.box > .icon {
    text-align: center;
    position: relative;
}
.box > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 8px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #009fe3;
    vertical-align: middle;
}
.box > .icon:hover > .image {
    background: #f58634;
    cursor: pointer;
}
.box > .icon > .image > i {
    font-size: 36px !important;
    color: #fff !important;
}
.box > .icon:hover > .image > i {
    color: white !important;
}
.box > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
}
.box > .icon:hover > .info {
    background: rgba(0, 0, 0, 0.04);
    border-color: #e0e0e0;
    color: white;
}
.box > .icon > .info > h3.title {
    color: #222;
}
.box > .icon > .info > p {
    color: #777;
    line-height: 1.5em;
    margin: 20px;
}
.box > .icon > .info > .more a {
    color: #222;
    text-transform: uppercase;
    text-decoration: none;
}
.box > .icon:hover > .info > .more > a {
    color: #fff;
    padding: 6px 8px;
    background-color: #009fe3;
}
.box .space {
    height: 30px;
}

div.space-rows > div.row {
    margin-bottom: 1em;
}

div.container.fotos {
    div {
        margin-bottom: 2em;
        
        img {
            width: 320px;
            height: 240px;
        }
    }
}

#toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
}

img {
    cursor: pointer;
}

div#fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.embed-half {
    width: 100vw;
    height: 100vh;
    
    & > div {
        width: 80vw;
        height: 80vh;
        max-width: 80vw;
        max-height: 80vh;
        margin: 0 auto;
    }
    
    & > a.closeFullScreen {
        position: fixed;
        top: 0px;
        right: 16px;
        font-size: 64px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
}

.lead { font-size: 33px;margin-bottom:0px; }

div.faq
{
    & > section
    {
        & > h4
        {
        }

        & > p
        {
            margin-bottom: 2em;
        }
    }
}

.theme-box {
    margin-bottom: 2em;
    
    button {
        margin: 0 5px;
    }
}
