/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-y: scroll;
}

.navbar-mob {
	background-color: #fff;
	border-color: #e7e7e7;
}

.navbar-brand {
	margin-top: -6px;
}

.jumbotron {
	background-color: #009fe3;
	background-image: url(../img/jumbg.jpg);
	background-repeat: repeat;
	color: #fff;
}

.btn-jumbo {
	background-color: #fff;
	border-color: #3071a9;
	color: #000;
}

.btn-jumbo:hover{
	background-color: #f58634;
	border-color: #f1b88f;
	color: #fff;
}
